#home {
    background: url("../img/austin-distel-mpN7xjKQ_Ns-unsplash\ 1.png");
    height: 100vh;
    background-size: cover;
    margin-bottom: 1000px;
}

body::-webkit-scrollbar {
    width: 0rem;
}

@media (max-width: 991px) {
    .navbar.scrolling-navbar {
        background: rgb(20, 30, 48);
        background: radial-gradient(
            circle,
            rgba(20, 30, 48, 1) 0%,
            rgba(36, 59, 85, 1) 100%
        );
    }
}
