html,
body,
header,
#intro {
    height: 100%;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}
h1 {
    font-weight: 500;
}
h2 {
    font-weight: 700;
    color: #3b3b3b;
}

#home {
    background: url("../img/austin-distel-mpN7xjKQ_Ns-unsplash\ 1.png");
    height: 100vh;
    background-size: cover;
    margin-bottom: 1000px;
}

body::-webkit-scrollbar {
    width: 0rem;
}

@media (max-width: 991px) {
    .navbar.scrolling-navbar {
        background: rgb(20, 30, 48);
        background: radial-gradient(
            circle,
            rgba(20, 30, 48, 1) 0%,
            rgba(36, 59, 85, 1) 100%
        );
    }
}
